

<div class="panel panel-info">
	<input type="hidden" value="{{solution}}" id="solution"/>
	<input type="hidden" value="{{id}}" id="word_id"/>
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-7">
				<h2>{{ word }}</h2>Select the correct meaning of <b>{{ word }}</b> below.
			</div>
		</div>
	</div>
	<div class="panel-body">

  	{% for choice in choices %}
		<div class="panel-body">
			<div class="row">
				<div class="col-md-1">
				<button type="button" wordid="{{choice.id}}" class="btn btn-default btn-sm vocabulary_answer">
					<span>Select</span>
				</button>
				</div>
				<div class="col-md-8">

				{{choice.definition}}

				</div>

			</div>
		</div>
  	{% endfor %}
  	<div class="alert_container"></div>
  </div>
</div>
