{% if lesson_id %}
	<div class="panel panel-default">
		<div class="panel-heading">Take attendance for {{ currentLesson.description }}, {{currentLesson.lesson_date |date("m/d/Y") }}</div>
		<div class="panel-body">
			<input type="hidden" id="lesson_id" value="{{ lesson_id }}">
			<a type="button" class="mark_all_present btn btn-default">MARK ALL HERE</a>
		</div>
		<ul class="list-group">
		{% for student in students %}
			<li class="list-group-item">
				<div class="row">
					<div class="col-sm-3">
						{{ student.first_name }} {{ student.last_name }}
					</div>
					<div class="col-sm-8">
						<input type="hidden" class="student_id" name="student_id" value="{{ student.id }}">
						<a type="button" class="here_button mark_present btn btn-{% if student.present == 1 %}success{% else %}default{% endif %}" data-toggle="tooltip" data-placement="top" data-type="here" title="Here">H</a>

						<a type="button" class="tardy_button mark_tardy btn btn-{% if student.tardy == '' %}default{% else %}warning{% endif %}" data-toggle="tooltip" data-placement="top" data-type="late" title="Late">L</a>

						<a type="button" class="absent_button mark_absent btn btn-{% if student.present == 2 %}danger{% else %}default{% endif %}" data-toggle="tooltip" data-placement="top" data-type="absent" title="Absent">A</a>

						{% if single_batch_hw %}
							<a class="btn btn-{% if student.homework == 1 %}primary{% else %}default{% endif %} attendance_data" data-toggle="tooltip" data-placement="top" data-type="homework" title="Homework">HW</a>
						{% else %}
							<a class="btn btn-{% if student.verbal == 1 %}primary{% else %}default{% endif %} attendance_data" data-toggle="tooltip" data-placement="top" data-type="verbal" title="Verbal">VR</a>
							<a class="btn btn-{% if student.math == 1 %}primary{% else %}default{% endif %} attendance_data" data-toggle="tooltip" data-placement="top" data-type="math" title="Math">MT</a>
							<a class="btn btn-{% if student.essay == 1 %}primary{% else %}default{% endif %} attendance_data" data-toggle="tooltip" data-placement="top" data-type="essay" title="Essay">ES</a>
						{% endif %}

						<a type="button" note-id="{{ student.note_id }}" class="open_notes btn btn-default" data-toggle="popover" data-placement="right" data-content="{% if student.notes != '' %}{{ student.notes[:25] }}{% else %}Click to add new notes...{% endif %}">N</a>

					</div>
				</div>
			</li>
		{% endfor %}
		</ul>
	</div>
{% else %}
	<div class="alert alert-warning" role="alert">Please select a lesson from the right.</div>
{% endif %}
