<script>
var grade_row_data = {{ grade_row_data|raw }};
var grade_col_header = {{ grade_col_header|raw }};
var grade_row_header = {{ grade_row_header|raw }};

var grade_col_id_mapper = {{ grade_col_id_mapper|raw }};
var grade_row_id_mapper = {{ grade_row_id_mapper|raw }};
</script>

<span id="grade_table_container"><div id="grade_table" class="grade_table" style="height:500px; width:1000px; overflow:hidden;"></div></span>